{% extends "layout.html" %}

{% block body %}

	<div class="wrap blue" style="padding:10px;">
		{% if done %}
		<p style="text-align:center">Heureux de vous revoir <strong>{{ username|raw }}</strong> !<br>
		<span style="font-size:0.8em;">Vous êtes déjà inscrit à notre jeu concours.</span></p>
		{% else %}
		<p style="text-align:center">Bienvenue <strong>{{ username|raw }}</strong> !</p>
		{% endif %}
	</div>

	<div id="fonepad">
		<img src="/assets/images/fonepad-tablet.png" id="fonepad-tablet">
		<img src="/assets/images/fonepad-shadow.png" id="fonepad-shadow">
		<img src="/assets/images/fonepad-title.png" id="fonepad-title">
		
		<div id="fonepad-stats">
			<p>ME371MG - 3G 16Go Champagne</p>
			<ul>
				<li>Wifi + 3G + Téléphone</li>
				<li>Ecran IPS 7" angles de vue larges</li>
				<li>Processeur Intel® Atom™ 1.2Ghz</li>
				<li>Une finition métallique brossée</li>
				<li>9h d'autonomie en utilisation</li>
			</ul>
			<p><a href="http://www.tablette-store.com/tablettes-tactiles/asus-fonepad-me371mg-3g-16go-champagne.html#tablet" target="_blank">Plus d'infos&hellip;</a></p>
		</div>
		
	</div>
	
	{% if not done %}
	<div class="wrap blue">
		<h2>Comment participer ?</h2>
		<p>Choisissez au moins 5 de vos amis auquels nous enverrons un message. C’est aussi simple que cela ! Vos amis seront invités à participer eux aussi à notre jeu.</p>
	</div>
	{% endif %}
	
	<div class="wrap">
		<div class="col left">
			<h2>Calendrier des tirages</h2>
			<ul class="results">
				{% for date in dates %}
				<li{% if date.done %} class="done"{% endif %}>{{ date.label }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col right">
			<h2>Les gagnants</h2>
			<ul class="results">
				{% for name in winners %}
				<li>{{ name }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	{% if not done %}
	<div class="wrap blue">
		<div class="col left">
			<h2 style="text-align:right;line-height:2em;margin:0;">Vous êtes prêt ?</h2>
		</div>
		<div class="col right">
			<a href="{{ path('participate') }}" class="button">Je participe !</a>
		</div>
	</div>
	{% endif %}
		
{% endblock %}