{% extends "layout.html" %}

{% block javascripts %}
  {{ parent() }}
  <script src="/assets/js/easing/EasePack.min.js"></script>
  <script src="/assets/js/CSSPlugin.min.js"></script>
  <script src="/assets/js/TweenLite.min.js"></script>
  <script src="/assets/js/jquery.gsap.min.js"></script>
{% endblock %}

{% block body %}

	<div class="wrap blue" style="padding:10px;">
		{% if done %}
		<p style="text-align:center">Heureux de te revoir <strong>{{ username|raw }}</strong> !<br>
		<span style="font-size:0.8em;">Tu es déjà inscrit à notre jeu concours.</span></p>
		{% else %}
		<p style="text-align:center">Bienvenue <strong>{{ username|raw }}</strong> !</p>
		{% endif %}
	</div>

	<div id="fonepad">
		<img src="/assets/images/fonepad-tablet.png" id="fonepad-tablet" style="display:none;">
		<img src="/assets/images/fonepad-shadow.png" id="fonepad-shadow" style="display:none;">
		<img src="/assets/images/fonepad-title.png" id="fonepad-title" style="display:none;">
		
		<div id="fonepad-stats" style="display:none;">
			<p>ME371MG - 3G 16Go Champagne</p>
			<ul>
				<li>Wifi + 3G + Téléphone</li>
				<li>Ecran IPS 7" angles de vue larges</li>
				<li>Processeur Intel® Atom™ 1.2Ghz</li>
				<li>Une finition métallique brossée</li>
				<li>9h d'autonomie en utilisation</li>
			</ul>
			<p><a href="http://www.tablette-store.com/tablettes-tactiles/asus-fonepad-me371mg-3g-16go-champagne.html#tablet" target="_blank">Plus d'infos&hellip;</a></p>
		</div>
		
	</div>
	
	{% if not done %}
	<div class="wrap blue">
		<p style="text-align:center;">
			<a href="{{ path('participate') }}" class="button">Je participe !</a>
		</p>
	</div>
	{% endif %}

	<div class="wrap">
		<div class="col left">
			<h2>Calendrier des tirages</h2>
			<ul class="results">
				{% for date in dates %}
				<li{% if date.done %} class="done"{% endif %}>{{ date.label }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col right">
			<h2>Les gagnants</h2>
			<ul class="results">
				{% for name in winners %}
				<li>{{ name }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
		
	<script>
	$(document).ready(function() {
		
		$('#fonepad img, #fonepad-stats').show().css({opacity:0});
		$('#fonepad-title').css({top:15}).animate({opacity:1,top:55}, {duration:500, easing:Quad.easeOut, complete:function() {
			$('#fonepad-tablet').css({top:5}).animate({opacity:1,top:45}, {duration:500, easing:Quad.easeOut});
			$('#fonepad-shadow').css({left:472}).animate({opacity:1,left:452}, {duration:500, easing:Quad.easeOut, complete:function() {
				$('#fonepad-stats').css({top:232}).animate({opacity:1,top:211}, {duration:500, easing:Quad.easeOut});
			}});
		}});
		
		
		/*$('#fonepad-shadow');
		$('#fonepad-title');
		$('#fonepad-tablet');*/
	});
	</script>
{% endblock %}