{% extends "layout.html" %}

{% block body %}
		
		<div class="wrap blue">
			<h1 style="text-align:center">Félicitations !</h1>
			<p style="text-align:center">Votre inscription à notre jeu à bien été prise en compte. Vous serez donc éligible pour les prochains tirages au sort ! Vos amis ont reçu un message de notre part, les invitant à participer eux aussi à notre jeu.</p>
		</div>
		
		<div class="wrap">
			<p style="text-align:center; margin:0 0 2em 0;">Et puisque vous pourriez bientôt recevoir une tablette Asus FonePad,<br>allez-donc voir quels accessoires Tablette Store vous propose !</p>
			<p style="text-align:center;">
				<a href="#" class="button">Accessoires pour Asus FonePad</a>
			</p>
		</div>
		
{% endblock %}