{% extends "layout.html" %}

{% block body %}
		
	<div class="wrap blue">
		<h1 style="text-align:center">Félicitations !</h1>
		<p style="text-align:center">Ton inscription à notre jeu a bien été prise en compte. Tu es éligible pour les prochains tirages au sort ! Consulte la première page de ce mini site pour suivre les résultats.</p>
	</div>
	
	<div class="wrap">
		<h1 style="text-align:center">Futur gagnant</h1>
		<p style="text-align:center;">
			<a href="http://www.tablette-store.com/accessoirium/asus-fonepad-me371mg-3g-16go-champagne.html?mytablet=1252" class="button">Choisi les accessoires pour ton FonePad</a>
		</p>
		<p style="text-align:center; margin:0 0 2em 0;"><a href="http://www.tablette-store.com/">Tablette Store</a>, le plus grand catalogue d'accessoires pour tablettes tactiles.</p>
	</div>
		
{% endblock %}