{% extends "layout.html" %}

{% block facebookui %}
	
{% endblock %}

{% block body %}
		
		<div class="wrap blue">
			<h1 style="text-align:center">À toi de jouer !</h1>
			<p style="text-align:center">Pour participer à notre jeu, réalise les trois actions ci dessous.</p>
		</div>
		
		<div class="wrap">
			<div class="group" id="publish">
				<div class="col left">
					<h2 style="line-height:2em;">1. Publie sur ton mur</h2>
				</div>
				<div class="col right">
					<a class="button check">Publier</a>
				</div>
			</div>
			<div class="group disabled" id="invite">
				<div class="col left">
					<h2 style="line-height:2em;">2. Invite 5 amis ou plus</h2>
				</div>
				<div class="col right">
					<a class="button check">Inviter des amis</a>
				</div>
			</div>
			<div class="group disabled" id="validate">
				<div class="col left">
					<h2 style="line-height:2em;">3. Valide ton inscription</h2>
				</div>
				<div class="col right">
					<a class="button">Valider</a>
				</div>
			</div>
		</div>
		
<script>
$(document).ready(function() {
	function initPublish() {
		$('#publish a').click(function() {
			FB.ui({ 
				method: 'feed',
			    link: '{{ og.url }}',
			    picture: 'http://static.tablette-store.com/product/asus-fonepad-me371mg-3g-16go-champagne-vue-face.jpg',
			    name: 'Jeu concours Tablette Store',
			    caption: 'Une tablette tactile Asus FonePad à gagner chaque semaine !',
			    description: "Avec un écran 7 pouces et équipée de la 3G, cette tablette fait aussi téléphone mobile. Vous aussi venez tenter votre chance !"
		    }, function(response) {
		    	if(response != undefined) {
			    	console.log('Registering post');
			    	$.ajax({
			    		url: "{{ path('register_post') }}",
			    		type: "POST",
			    		data: {post_id:response.post_id}
			    	}).
			    	done(function(response) {
			    		if(response === 'OK') {
				    		$('#publish a').removeClass('check').addClass('checked').unbind('click');
				    		initInvite();
			    		}
			    	})
			    	.fail(function(){
			    	});
		    	}
		    });
			return false;
		});
	}
	
	var nb_invit = 0;
	function initInvite() {
		$('#invite').removeClass('disabled');
		$('#invite a').click(function() {
			FB.ui({ 
		        method : 'apprequests',
		        message: 'Viens donc tenter ta chance pour gagner un fonepad :)',
		        title: 'Un fonepad à gagner par semaine.'
		    }, function(response) {
		    	if(response != undefined) {
			    	nb_invit += response.to.length;
			    	if(nb_invit > 4) {
			    		$('#invite a').removeClass('check').addClass('checked');
			    		initValidate();
			    	}
		    	}
		    });
			return false;
		});
	}
	
	function initValidate() {
		$('#validate').removeClass('disabled');
		$('#validate a').click(function() { window.location = "{{ path('confirmation') }}"; return false; });
	}
	
	initPublish();
});
</script>
		
{% endblock %}